input[type="button"],
input[type="submit"] {
  width: 100px;
  background: #0b70e1;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: 3px;
  margin-top:  15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.inputs input[type="text"],
.inputs input[type="email"]  {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #f6f7f9;
  color: #454545;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.table-scroll {
  overflow-y: auto !important;
}

.table-scroll {
  max-height: 600px;
}

.link {
  cursor: pointer;
}